@using Compta.Ledger.Core.orgTestapp.App
@using Compta.Ledger.Core.orgTestapp.Resources
@using Compta.Ledger.Core.orgTestapp.Services
@using Compta.Ledger.Core.orgTestapp.Entities
@using Microsoft.Extensions.Localization
@rendermode InteractiveServer
@inject IStringLocalizer<Resource> localizer
<div class="category-tree">

    <div class="d-flex justify-content-between mb-2">

        <div class="input-search-container" dir="@(isLTR ? "ltr" : "rtl")">

            <span class="search-icon">
                <i class="fa fa-search"></i>
            </span>

            <input type="text"
                   class="input-search-input"
                   placeholder="@localizer["Input.Search.categories"]..."
                   @bind="searchText"
                   @onkeydown="OnSearchKeyDown" />

            @if (!string.IsNullOrWhiteSpace(searchText))
            {
                <i class="fa fa-times-circle clear-icon"
                   @onclick="ClearSearch"></i>
            }

        </div>

        <button class="btn-add-root" @onclick="OpenModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            @localizer["Add.Root"]
        </button>


    </div>

    @{
        var nodesToShow = string.IsNullOrWhiteSpace(searchText)
        ? rootNodes
        : filteredRoots;
    }

    @if (isLoading)
    {
        <div class="loading-spinner">
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
            @localizer["Grid.Loading"]
        </div>

    }
    else if (nodesToShow.Any())
    {
        <div class="tree-container">
            @foreach (var node in nodesToShow)
            {
                <TreeNode Node="node"
                          Service="OrgService"
                          OnNodeDeleted="NodeDeleted"
                          OnNodeMoved="NodeMoved" />
            }
        </div>
    }
    else
    {
        <div class="p-2 rounded bg-light text-dark">
            <strong>@localizer["Node.NotFound"]</strong>
        </div>

    }


</div>

@if (showRootModal)
{
    <div class="modal-backdrop" @onclick="CloseModal"></div>

    <div class="modal-dialog-container">
        <div class="modal-box">
            <EditForm Model="nodeModel" OnValidSubmit="AddRootCategory">
                <DataAnnotationsValidator />

                <div class="modal-header">
                    <h5>@localizer["Node.AddRoot"]</h5>
                    <button class="close-btn" @onclick="CloseModal">✕</button>
                </div>

                <div class="modal-body">
                    <InputText class="modal-input"
                               @bind-value="nodeModel.Name"
                               placeholder="@localizer["Node.EntreCategory"]"
                               @onkeydown="KeyDown"
                               autofocus />
                    <ValidationMessage For="() => nodeModel!.Name" />
                </div>

                <div class="modal-footer">
                    <button class="btn-modal btn-cancel"
                            @onclick="CloseModal">
                        @localizer["Button.Cancel"]

                    </button>

                    <button class="btn-modal btn-save"                        
                            type="submit">
                        @localizer["Button.Create"]
                    </button>
                </div>

            </EditForm>
        </div>
    </div>
}
