@using Compta.Ledger.Core.orgTestapp.Services
@using Compta.Ledger.Core.orgTestapp.Entities
@using Compta.Ledger.Core.orgTestapp.App
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<div class="tree-node" style="margin-left: @(25)px;">
    <div class="node-item @(isDragOver ? "drag-over" : "")"
         @onmouseenter="() => showButtons = true"
         @onmouseleave="() => showButtons = false"
         draggable="true"
         @ondragstart="dragStart"
         @ondragend="dragEnd"
         @ondragover="dragOver"
         @ondragover:preventDefault
         @ondragleave="dragLeave"
         @ondrop="dropNode"
         @ondrop:preventDefault>

        @if (isEditingName)
        {
            <div class="edit-row">
                <input type="text" class="edit-input"
                       value="@editingNameValue"
                       @onchange="@((ChangeEventArgs e) => editingNameValue = e.Value?.ToString() ?? string.Empty)"
                       placeholder="Enter new name"
                       @onkeydown="keyPress"
                       autofocus />
                <button class="action-btn save-btn" @onclick="saveEdited" title="Save">✓</button>
                <button class="action-btn cancel-btn" @onclick="cancelEditing" title="Cancel">✕</button>
            </div>
        }
        else
        {
            <div class="node-row">
                @if (Node.Children is not null && Node.Children.Any())
                {
                    <button class="toggle-btn" @onclick="toggleExpanded">
                        @if (isExpanded)
                        {
                            <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>

                        }
                        else
                        {
                            <i class="fa fa-angle-right fa-lgs" aria-hidden="true"></i>

                        }
                    </button>
            

                }
                else
                {
                    <span class="toggle-placeholder"></span>
                }
                <span class="folder-icon">📁</span>
                <span class="node-name">
                    @Node.Name
                    @if (Node.Children is not null && Node.Children.Any())
                    {
                        <span class="child-count">[ @Node.Children.Count ]</span>
                    }
                </span>
                <div class="node-actions @(showButtons ? "visible" : "")">
                    <button class="action-btn edit" @onclick="startEditing" title="Rename">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>

                    <button class="action-btn add" @onclick="openChildModal" title="Add Child">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>

                    <button class="action-btn delete" @onclick="deleteNode" title="Delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
        }
    </div>

    @if (Node.Children is not null && Node.Children.Any() && isExpanded)
    {
        @foreach (var child in Node.Children)
        {
            <TreeNode Node="child" Service="Service" OnNodeDeleted="OnNodeDeleted" OnNodeMoved="OnNodeMoved" />
        }
    }
</div>


@if (showCreateChildModal)
{
    <div class="modal-backdrop" @onclick="closeChildModal"></div>
    <div class="modal-dialog-container">
        <div class="modal-box">
            <div class="modal-header">
                <h5>Add Child to '@Node.Name'</h5>
                <button class="close-btn" @onclick="closeChildModal">✕</button>
            </div>
            <div class="modal-body">
                <label>Child Category Name</label>
                <input type="text" class="modal-input" @bind="newChildName"
                       placeholder="Enter child name" @onkeydown="keyDown" autofocus />
            </div>
            <div class="modal-footer">
                <button class="btn-modal btn-cancel" @onclick="closeChildModal">Cancel</button>
                <button class="btn-modal btn-save" @onclick="createChild">Add Child</button>
            </div>
        </div>
    </div>
}


